IAM_API_URL="https://iam.test.example"
IAM_DASHBOARD_BASE_URL="https://iam.test.example"
IAM_DASHBOARD_BASE_PATH="/ui"
IAM_DASHBOARD_CLIENT_ID=${IAM_DASHBOARD_CLIENT_ID}
IAM_DASHBOARD_CLIENT_SECRET=${IAM_DASHBOARD_CLIENT_SECRET}
IAM_DASHBOARD_AUTH_SECRET=${IAM_DASHBOARD_AUTH_SECRET}
IAM_DASHBOARD_OTEL_EXPORTER_OTLP_ENDPOINT="https://otello.cloud.cnaf.infn.it:8443/collector"
IAM_DASHBOARD_POLICY_URL="https://example.org/policy"
IAM_DASHBOARD_SUPPORT_URL="https://example.org/support"
