@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  h4 {
    @apply text-base font-bold;
  }
}

@layer components {
  .btn {
    @apply rounded-full px-2 py-1.5;
  }
  .btn-primary {
    @apply btn border border-primary bg-primary text-secondary hover:bg-primary-900 disabled:border-primary/50 disabled:bg-primary/50 dark:border-secondary;
  }
  .btn-primary-outline {
    @apply btn border border-primary bg-secondary text-primary hover:bg-primary-900 hover:text-secondary disabled:border-primary/50 disabled:bg-secondary/50 disabled:text-primary/50 dark:border-secondary dark:bg-primary dark:text-secondary;
  }

  .btn-secondary {
    @apply btn border border-secondary-200 bg-secondary-200 text-primary hover:border-secondary-400 hover:bg-secondary-400 hover:text-secondary disabled:border-secondary-200/50 disabled:bg-secondary-200/50;
  }

  .btn-secondary-outline {
    @apply btn border border-secondary-200 hover:bg-secondary-200 disabled:border-secondary-200/50 disabled:bg-secondary-200/50;
  }

  .btn-success {
    @apply btn border border-success bg-success text-secondary hover:bg-success-600 disabled:border-success/50 disabled:bg-success/50;
  }

  .btn-success-outline {
    @apply btn border border-success bg-secondary text-success hover:bg-success hover:text-secondary disabled:border-success/50 disabled:hover:bg-success/50;
  }

  .btn-warning {
    @apply btn bg-warning text-secondary hover:bg-warning-300 disabled:bg-warning/50;
  }

  .btn-warning-outline {
    @apply btn border border-warning bg-secondary text-warning hover:bg-warning hover:text-secondary disabled:border-warning/50 disabled:hover:bg-warning/50;
  }

  .btn-danger {
    @apply btn bg-danger text-secondary hover:bg-danger-700 disabled:bg-danger/50;
  }

  .btn-danger-outline {
    @apply btn border border-danger bg-secondary text-danger hover:bg-danger hover:text-secondary disabled:border-danger/50 disabled:hover:bg-danger/50 dark:bg-primary;
  }

  .btn-check {
    @apply mx-auto w-5 rounded-md bg-success p-0.5 text-secondary;
  }

  .btn-delete {
    @apply mx-auto h-5 w-5 rounded-md bg-danger p-0.5 text-secondary;
  }
}
