# SPDX-FileCopyrightText: 2025 Istituto Nazionale di Fisica Nucleare
#
# SPDX-License-Identifier: EUPL-1.2

services:
  devcontainer:
    container_name: iam-devcontainer
    image: iam-dashboard:devcontainer
    build:
      context: .devcontainer/docker
    command: sleep infinity
    volumes:
      - .:/workspace:cached
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      IAM_DEVCONTAINER: true
      IAM_DASHBOARD_BASE_URL: https://iam.test.example
      IAM_DASHBOARD_BASE_PATH: /devcontainer
      NODE_EXTRA_CA_CERTS: /workspace/assets/trust/star_test_example_ca.pem
      PLAYWRIGHT_HTML_HOST: 0.0.0.0
      PLAYWRIGHT_HTML_PORT: 8901
    ports:
      - "8900:8900" # for npx playwright test --ui-host 0.0.0.0 --ui-port 8900
      - "8901:8901" # for playwright html report
