/*  FONTS */

/* Roboto */

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto/roboto-black-webfont.woff2") format("woff2"),
    url("/fonts/Roboto/roboto-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto/roboto-blackitalic-webfont.woff2") format("woff2"),
    url("/fonts/Roboto/roboto-blackitalic-webfont.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto/roboto-bold-webfont.woff2") format("woff2"),
    url("/fonts/Roboto/roboto-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto/roboto-bolditalic-webfont.woff2") format("woff2"),
    url("/fonts/Roboto/roboto-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto/roboto-medium-webfont.woff2") format("woff2"),
    url("/fonts/Roboto/roboto-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto/roboto-mediumitalic-webfont.woff2") format("woff2"),
    url("/fonts/Roboto/roboto-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto/roboto-regular-webfont.woff2") format("woff2"),
    url("/fonts/Roboto/roboto-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto/roboto-italic-webfont.woff2") format("woff2"),
    url("/fonts/Roboto/roboto-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto/roboto-light-webfont.woff2") format("woff2"),
    url("/fonts/Roboto/roboto-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto/roboto-lightitalic-webfont.woff2") format("woff2"),
    url("/fonts/Roboto/roboto-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto/roboto-thin-webfont.woff2") format("woff2"),
    url("/fonts/Roboto/roboto-thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto/roboto-thinitalic-webfont.woff2") format("woff2"),
    url("/fonts/Roboto/roboto-thinitalic-webfont.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

/* Oswald */

@font-face {
  font-family: "Oswald";
  src:
    url("/fonts/Oswald/oswald-bold-webfont.woff2") format("woff2"),
    url("/fonts/Oswald/oswald-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src:
    url("/fonts/Oswald/oswald-bolditalic-webfont.woff2") format("woff2"),
    url("/fonts/Oswald/oswald-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Oswald";
  src:
    url("/fonts/Oswald/oswald-demibold-webfont.woff2") format("woff2"),
    url("/fonts/Oswald/oswald-demibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src:
    url("/fonts/Oswald/oswald-demi-bolditalic-webfont.woff2") format("woff2"),
    url("/fonts/Oswald/oswald-demi-bolditalic-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Oswald";
  src:
    url("/fonts/Oswald/oswald-medium-webfont.woff2") format("woff2"),
    url("/fonts/Oswald/oswald-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src:
    url("/fonts/Oswald/oswald-mediumitalic-webfont.woff2") format("woff2"),
    url("/fonts/Oswald/oswald-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Oswald";
  src:
    url("/fonts/Oswald/oswald-regular-webfont.woff2") format("woff2"),
    url("/fonts/Oswald/oswald-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src:
    url("/fonts/Oswald/oswald-regularitalic-webfont.woff2") format("woff2"),
    url("/fonts/Oswald/oswald-regularitalic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Oswald";
  src:
    url("/fonts/Oswald/oswald-light-webfont.woff2") format("woff2"),
    url("/fonts/Oswald/oswald-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src:
    url("/fonts/Oswald/oswald-lightitalic-webfont.woff2") format("woff2"),
    url("/fonts/Oswald/oswald-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Oswald";
  src:
    url("/fonts/Oswald/oswald-extralight-webfont.woff2") format("woff2"),
    url("/fonts/Oswald/oswald-extralight-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src:
    url("/fonts/Oswald/oswald-extra-lightitalic-webfont.woff2") format("woff2"),
    url("/fonts/Oswald/oswald-extra-lightitalic-webfont.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

/* COLORS */

:root {
  --infn-color-primary: #002a48;
  --infn-color-primary-50: #002a4880;
  --infn-color-primary-hover: #20385a;
  --infn-color-primary-light: #4196B4;
  --infn-color-primary-light-hover: #347890;

  --infn-color-secondary: #fefefe;
  --infn-color-secondary-50: #fefefe80;
  --infn-color-secondary-hover: #fefefedd;

  --infn-color-success: #3da657;
  --infn-color-success-50: #35de2380;
  /* this is random... */
  --infn-color-success-hover: #3da657;

  --infn-color-danger: #de2335;
  --infn-color-danger-50: #de233580;
  --infn-color-danger-hover: #ed2639;

  --infn-color-warning: #ffc107;
  --infn-color-warning-50: #ffc10780;
  --infn-color-warning-hover: #ffc822;

  --infn-border-radius: 25px;
  --infn-border-radius-half: 12.5px;

  --infn-box-shadow: -3px 3px 8px #00000020;
  --infn-box-shadow-light: -3px 3px 8px -3px #00000020;
}

/* Background colors */
.infn-bg-primary {
  background-color: var(--infn-color-primary);
}

.infn-bg-secondary {
  background-color: var(--infn-color-secondary);
}

.infn-bg-success {
  background-color: var(--infn-color-success);
}

.infn-bg-warning {
  background-color: var(--infn-color-warning);
}

.infn-bg-danger {
  background-color: var(--infn-color-danger);
}

/* Text */

.infn-txt-primary {
  color: var(--infn-color-primary) !important;
}

.infn-txt-secondary {
  color: var(--infn-color-secondary) !important;
}

.infn-txt-success {
  color: var(--infn-color-success) !important;
}

.infn-txt-warning {
  color: var(--infn-color-warning) !important;
}

.infn-txt-danger {
  color: var(--infn-color-danger) !important;
}

/* BODY */

body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  color: var(--infn-color-primary);
}

input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* BUTTONS */

.infn-btn {
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  border-radius: var(--infn-border-radius);
  padding: 4px 16px;
  font-weight: 300;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: fit-content;
}

.infn-btn:focus-visible,
.infn.btn:focus {
  outline: 3px solid var(--infn-color-primary-50);
}

.infn-btn > i {
  margin-left: 8px;
}

.infn-btn-lg {
  font-weight: 900;
  padding: 8px 32px;
  font-size: 16px;
  text-transform: uppercase;
}

.infn-btn-sm {
  padding: 2px 8px;
  font-size: 12px;
}

.infn-btn.icon {
  border: none !important;
  padding: 8px !important;
  width: 48px !important;
  height: 48px !important;
  border-radius: 24px !important;
}

svg {
  vertical-align: unset;
}

/* Primary */
.infn-btn-primary {
  background: var(--infn-color-primary);
  color: var(--infn-color-secondary);
  border: 2px solid var(--infn-color-primary);
}

.infn-btn-primary:hover {
  background: var(--infn-color-primary-hover);
}

.infn-btn-primary-outline {
  background: transparent;
  color: var(--infn-color-primary);
  border: 2px solid var(--infn-color-primary);
}

.infn-btn-primary-outline:hover {
  background: var(--infn-color-primary);
  color: var(--infn-color-secondary);
}

.infn-btn-primary-outline-no-border {
  background: transparent;
  color: var(--infn-color-primary);
}

.infn-btn-primary-outline-no-border:hover {
  outline: 2px solid var(--infn-color-primary);
}

/* Secondary */
.infn-btn-secondary {
  background: var(--infn-color-secondary);
  color: var(--infn-color-primary);
  border: 2px solid var(--infn-color-secondary);
}

.infn-btn-secondary:hover {
  background: var(--infn-color-secondary-hover);
}

.infn-btn-secondary-outline {
  background: trasparent;
  color: var(--infn-color-secondary);
  border: 2px solid (var--infn-color-secondary);
}

.infn-btn-secondary-outline:hover {
  background: var(--infn-color-secondary);
  color: var(--infn-color-primary);
}

.infn-btn-secondary-outline-no-border:hover {
  outline: 2pix solid var(--infn-color-secondary);
}

/* Success */
.infn-btn-success {
  background: var(--infn-color-success);
  color: var(--infn-color-secondary);
  border: 2px solid var(--infn-color-success);
}

.infn-btn-success:hover {
  background: var(--infn-color-success-hover);
}

.infn-btn-success-outline {
  background: transparent;
  color: var(--infn-color-success);
  border: 2px solid var(--infn-color-success);
}

.infn-btn-success-outline:hover {
  background: var(--infn-color-success);
  color: #212529;
}

.infn-btn-success-outline-no-border {
  background: transparent;
  color: var(--infn-color-success);
}

.infn-btn-success-outline-no-border:hover {
  outline: 2px solid var(--infn-color-success);
}

/* Warning */
.infn-btn-warning {
  background: var(--infn-color-warning);
  color: #212529;
  border: 2px solid var(--infn-color-warning);
}

.infn-btn-warning:hover {
  background: var(--infn-color-warning-hover);
}

.infn-btn-warning-outline {
  background: transparent;
  color: var(--infn-color-warning);
  border: 2px solid var(--infn-color-warning);
}

.infn-btn-warning-outline:hover {
  background: var(--infn-color-warning);
  color: #212529;
}

.infn-btn-warning-outline-no-border {
  background: transparent;
  color: var(--infn-color-warning);
}

.infn-btn-warning-outline-no-border:hover {
  outline: 2px solid var(--infn-color-warning);
}

/* Danger */
.infn-btn-danger {
  background: var(--infn-color-danger);
  color: var(--infn-color-secondary);
  border: 2px solid var(--infn-color-danger);
}

.infn-btn-danger:hover {
  background: var(--infn-color-danger-hover);
}

.infn-btn-danger-outline {
  background: transparent;
  color: var(--infn-color-danger);
  border: 2px solid var(--infn-color-danger);
}

.infn-btn-danger-outline:hover {
  background: var(--infn-color-danger);
  color: var(--infn-color-secondary);
}

.infn-btn-danger-outline-no-border {
  background: transparent;
  color: var(--infn-color-danger);
}

.infn-btn-danger-outline-no-border:hover {
  outline: 2px solid var(--infn-color-danger);
}

/* Round Button*/
.infn-btn-round {
  font-size: initial;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 300ms;
  color: var(--infn-color-primary);
}

.infn-btn-round:hover {
  background: #162d4d25;
}

.infn-btn-close {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  transition: all 300ms;
  background: #eee;
  color: #666666;
}

.infn-btn-close:hover {
  background: #dddddd;
}

/* TEXT */

.infn-title {
  font-size: 32px;
  font-weight: 400;
  color: var(--infn-color-primary);
  font-family: "Roboto";
}

.infn-subtitle {
  font-size: 24px;
  font-weight: 400;
  color: var(--infn-color-primary);
  font-family: "Roboto";
}

.infn-section-title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--infn-color-primary);
  font-family: "Roboto";
}

.infn-section-subtitle {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.9;
  color: var(--infn-color-primary);
  font-family: "Roboto";
}

/* LABELS */
label {
  font-size: 16px;
  font-weight: bold;
  color: var(--infn-color-primary);
  padding: 0 0;
  font-family: "Roboto";
}

/* INPUT */

/* Search bar */
.infn-input-search-container {
  position: relative;
  height: 46px;
}

.infn-input-search {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 32px;
  border-radius: var(--infn-border-radius);
  border: none;
  background: #eee;
  font-weight: 500;
  color: var(--infn-color-primary);
  outline: none;
}

.infn-input-search-container > i {
  position: absolute;
  top: 15px;
  left: 24px;
  color: var(--infn-color-primary);
  opacity: 0.5;
}

/* Form group */
.infn-form-group > label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: var(--infn-color-primary);
}

.infn-form-group-input {
  border-radius: 16px;
  padding: 10px 20px;
  background-color: white;
  font-size: 1rem;
  color: var(--infn-color-primary);
  display: block;
  border: 1px solid #ced4da;
  margin-top: 6px;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.infn-form-group-input:focus-visible {
  outline: 2px solid var(--infn-color-primary-50);
}

/* CARDS */

.infn-card {
  transition: transform 300ms;
  border-radius: var(--infn-border-radius);
  box-shadow: var(--infn-box-shadow-light);
  background: white;
  padding: 32px;
}

.infn-card:hover {
  transform: scale(1.005);
  box-shadow: var(--infn-box-shadow);
}

.infn-card-title {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--infn-color-primary);
  font-family: "Roboto";
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}

.infn-card-body {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  border-bottom: 1px solid #eee;
  min-height: 32px;
}

.infn-card-footer {
  margin-top: 16px;
}

.infn-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 24px;
  box-shadow: var(--infn-box-shadow);
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  color: var(--infn-color-primary);
  max-width: 500px;
  background: white;
}

.infn-counter > div {
  opacity: 0.7;
}

.infn-counter-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infn-counter-num {
  margin-left: 3px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* TABLES */

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #eee;
}

td,
th {
  border: 0 px solid #eee;
  text-align: left;
  padding: 8px;
}

tr {
  height: 44px;
}

tr:hover {
  background-color: #ddd !important;
}

tr:nth-child(even) {
  background-color: #eee;
}

/* MODAL */

.infn-modal {
  position: fixed;
  inset: 0;
  z-index: 10;
}

.infn-modal.show {
  visibility: visible;
  background: rgb(0, 0, 0, 0.65);
  transition:
    visibility 0s,
    background 0.25s;
}

.infn-modal.hide {
  visibility: hidden;
  background: rgb(0, 0, 0, 0);
  transition:
    background 0.25s,
    visibility 0.25s;
}

.infn-modal-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--infn-border-radius);
  background-color: var(--infn-color-secondary);
  width: 40%;
  padding: 8px;
  z-index: 50;
  min-width: 320px;
  max-width: 720px;
}

.infn-modal-content.show {
  top: 140px;
  transition: top 250ms ease-out;
}

.infn-modal-content.hide {
  top: -50%;
  transition: top 250ms ease-in;
}

.infn-modal-header {
  padding: 8px;
  padding-left: 16px;
  border-bottom: 1px solid #eee;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.infn-modal-body {
  padding: 16px;
  width: 100%;
  border-bottom: 1px solid #eee;
  min-height: 120px;
}

.infn-modal-footer {
  padding: 8px;
  bottom: 0;
  min-height: 32px;
}

/* DRAWER */

.infn-drawer {
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  background-color: var(--infn-color-primary);
  color: var(--infn-color-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infn-drawer-body {
  height: 100% !important;
  display: flex !important;
  align-items: flex-start !important;
  flex-direction: column !important;
  overflow: auto;
}

.infn-drawer-content {
  padding: 16px;
  width: 100%;
}

.infn-drawer-section {
  font-size: medium;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.infn-drawer-section:last-child {
  overflow: auto;
}

.infn-drawer-section-list{
  overflow-y: scroll;
  padding-left: 16px;
  padding-right: 16px;
}

.infn-drawer-section-list::-webkit-scrollbar {
  width: 12px;
}

.infn-drawer-section-list::-webkit-scrollbar-track {
  border-radius: 5px;
}
 
.infn-drawer-section-list::-webkit-scrollbar-thumb {
  background: var(--infn-color-primary-light);
  border-radius: 5px;
}

.infn-drawer-section-list::-webkit-scrollbar-thumb:hover {
  background: var(--infn-color-primary-light-hover); 
}

.infn-drawer-link {
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  border-radius: var(--infn-border-radius-half);
  padding: 8px 16px;
  font-weight: 300;
  border: none;
  width: 100%;
  background: none;
  color: var(--infn-color-secondary);
}

.infn-drawer-link:hover {
  background: var(--infn-color-primary-hover);
}

.infn-logo-indigo {
  width: 33%;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 16px;
}

.infn-logo-user {
  display: flex;
  width: 100%;
  color: var(--infn-color-secondary);
  padding: 16px;
}

.infn-divider{
  width: 100%;
  height: 2px;
  background-color: white
}

.infn-drawer-footer {
  margin-top: 12px;
}

.infn-drawer-footer-link {
  padding: 8px 24px;
  font-weight: 600;
}

.infn-version {
  width: 100%;
  height: 20px;
  background-color: var(--infn-color-primary-light);
  font-size: small;
  text-align: center;
  color: white;
}
