# SPDX-FileCopyrightText: 2025 Istituto Nazionale di Fisica Nucleare
#
# SPDX-License-Identifier: EUPL-1.2

name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - "**"
    paths-ignore:
      - README.md
      - LICENSE

jobs:
  main:
    name: Release
    runs-on: ubuntu-latest
    environment: "Release"
    env:
      NODE_EXTRA_CA_CERTS: "${{ github.workspace }}/assets/trust/star_test_example_ca.pem"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Add hosts to /etc/hosts
        run: sudo echo "127.0.0.1 iam.test.example" | sudo tee -a /etc/hosts

      - name: Make self-signed CA and *.test.example certificate
        run: scripts/trust/setup_trust.sh assets/trust

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Docker Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: cnafsoftwaredevel/iam-dashboard
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=ref,event=tag

      - name: Build and export to Docker
        uses: docker/build-push-action@v6
        with:
          load: true
          build-args: IAM_DASHBOARD_BASE_PATH=/ui
          tags: |
            iam-dashboard:test

      - name: Load test environment
        run: docker compose up -d

      - name: Run Playwright tests
        run: npx playwright test

      - name: Cleanup test environment
        run: docker compose down --remove-orphans --volumes

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          if-no-files-found: ignore
          retention-days: 90

      - name: Build and push /ui to Docker Hub
        uses: docker/build-push-action@v6
        with:
          build-args: IAM_DASHBOARD_BASE_PATH=/ui
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
